@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  z-index: 0;
}
body {
  background-color: rgb(8 10 26);
}

.signup-page,.login-page {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0,0,0,0.4),
      rgba(0, 0, 0, 0.8)
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/73334647-ad51-42a9-b07b-93298cc2a8e1/2b0fca4f-c15c-4622-9efc-572c4a408c30/IN-en-20230605-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}